
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devices</title>
    <meta http-equiv="refresh" content="15; URL=/devices">
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>
<body>
    <div class="flex-row">
        {% for device, value in devices.items() %}
            {% if value['type'] == "actuator" %}
                <span class="device actuator" title="This is an actuator">{{device}} Pos:{{value['pos']}}</span>
            {% endif %}
            {% if value['type'] == "button" %}
                <span class="device button" title="This is a button">{{device}}</span>
            {% endif %}
            {% if value['type'] == "default" %}
                <span class="device default" title="Undefined Equipment. Not very important">{{device}}</span>
            {% endif %}
        {% endfor %}
    </div>

    <style>


        .device{
            padding: 8px;
            margin: 8px;
            border-radius: 99rem;
            color: aliceblue;
            
        }

        .actuator{
            background-color: green;
        }

        .button{
            background-color: rgb(17, 57, 143);
        }

        .default{
            background-color: rgb(93, 94, 97);
        }
    </style>

</body>
</html>