<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thingva UI</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'css/blocklyPopup.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'css/tabs.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename = 'js/blockly.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/blocks/blocksMove.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/blocks/blocksWait.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/blocks/blocksLoopsAndLogic.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/translate.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/files.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/processBlocks.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/ui.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/writeCmds.js')}}"></script>
    <link rel="icon" href="{{url_for('static', filename = 'img/favicon.ico')}}" />

  </head>
  <body> 

    <!--TopBar-->
    <div id="topbar">
        Thingva Simple Automation
    </div>
    <span id="version-number">0.1.0</span>

    <!--Todo list, hidden by default-->
    <!--<button onclick="toggleVisibility('todo')">Todo</button>

    <div id="todo" style="display: none;">
        TODO:<br>
        - Vérifier que tout soit bien parsé par les fonctions dans blockly.html
        - Acceder à tous les enfants dans les fonctions avec childBlocks_<br>
        - Sur les synchro, vérifier que chaque actionneur n'y soit qu'une fois
        - Mauvaise checksum sur $1,0,100,40,50,23*110 (doit être 28)
    </div>-->

   
    <!--Show the seqeunces stored on the server-->
    <div class="flex-row">
        <div class="flex-col" style="width:30%;">  
            <div class="tab ">
                <button class="tablinks" onclick="openTab(event, 'tab_yourSeq')">Your sequences</button>
                <button class="tablinks" onclick="openTab(event, 'tab_ThingvaEx')">Thingva examples</button>
            </div>
            <div id="tab_yourSeq" class="tabcontent">
                <div class="fileList" id="fileListExamples"></div>
            </div>
            
            <div id="tab_ThingvaEx" class="tabcontent">
                <div class="fileList" id="fileListYourSeq"></div>
            </div>
                
        </div>
        <div style="width:70%">
            <h3 class="title">Control pannel</h3>
            <iframe id="iframeSequences" src="" name="iframeSequences" width="100%" height="700vh" frameborder="0"></iframe>
        </div>
    </div>

    

    <!--Blockly toolbox -->
    <xml id="toolbox" style="display:none">
        <category name="Move" categorystyle="logic_category">
            <block type="3Voies"></block>
            <block type="actuator"></block>
        </category>
        <category name="Wait" categorystyle="text_category">
            <block type="waitS"></block>
            <block type="waitM"></block>
            <block type="waitH"></block>
            <block type="waitButton"></block>
        </category>
        <category name="Main" categorystyle="loop_category">
            <!--<block type="controls_repeat">
            <!--<value name="TIMES">            </value>
            </block>-->
            <block type="for_simple"></block>
            <block type="for"></block>
            <!--<block type="atTheSameTime"></block>-->
            <block type="loopForever"></block>
            <!--<block type="sync"></block>-->
            <!--<block type="home"></block>--> <!--ambiguous : which direction (+ or -), which topic ? Not safe enougth-->
            <block type="homeOne"></block>
        </category>   
    </xml>

    <input type="button" id="openCloseBlockly" onclick="toggleEditor()" value="✎ Open editor">
    <!-- Not displayed by default, blockly editor-->
    <div id="blocklyPopup" class="flex-col blurred">
        <div class="flex-row">
            <div id="blocklyDiv" style="height: 480px; width: 70%;"></div>
            <div id="codeDiv">
                <pre id="codeOutput" class="code"><code>Click on generate first</code><code>The output code will be shown here</code></pre>
            </div>
        </div>
        <br>
        <div class="flex-row">
            <div class="buttonDiv">
                <label>Save or load blocks from your device</label><br>
                <input type="button" onclick="saveBlocks()" value="Save blocks" disabled>
                <input type="file" onchange="loadBlocks(this)" value="Load blocks" disabled>
            </div>
            <br>
            <div class="buttonDiv">
                <label>Generate and save on the server</label><br>
                <input type="button" onclick="generateSequenceFromBlocks()" value="Generate code"/>
                <input type="button" onchange="saveSequenceOnServer()" value="Save seq on server">
            </div>
            <br>
            <div class="buttonDiv">
                <label>Import txt sequence from your device<label><br>
                <form id="uploadbanner" enctype="multipart/form-data" method="post" action="/saveSeq">
                    <input id="file" name="file" type="file" />
                    <input type="submit" value="submit" id="submit" />
                </form>
            </div>
        </div>
    </div>
   
    
    
    <script>
        listFiles()//show sequences stored on the server    
        openTabStartUp() //open first tab
        //Show blockly workbench 
        Blockly.inject('blocklyDiv', {
            toolbox: document.getElementById('toolbox'),
            scrollbars: false
        });

        let blockList = {}
        setTimeout(function () {document.getElementById("blocklyPopup").style.maxWidth = "0%", 50}); //fix display issue
        
    </script>
  </body>

</html>