body{
    font-family: monospace;
}

.fileList{
    margin-top: 0vh;
    margin-left: -2.5%;
    /*background-color: #ccc;*/
    padding: 10px;
    /*max-width: 33%;*/
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.sequenceToPlay{
    text-decoration: dashed;
    font-size: x-large;
    margin-left: 5%;
    margin-top: 10px;
    background-color: rgb(79, 106, 228);
    color: white;
    width: 90%;
    text-align: center;
    padding: 10px;
    align-items: stretch;
}

.filePlusTrashDiv{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.trashCan{
    background-image: url("/static/img/trashcan.png");
    width: 10%;
    border: none;
    background-color: transparent;
    height: 50px;
    margin-top: 10px;;
}

#err_div{
    color: rgb(127, 25, 25);
}


#buttonDiv{
    width:30%;
}

/* sequence buttons */
.buttons{
    width: 70px;
    height: 70px;
    border-radius: 99rem;
    text-decoration: none;
    background-color: rgb(79, 106, 228);
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin: 30px;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.stopButton{
    background-color: rgb(219, 36, 36);
}
.playButton, .pauseButton{
    background-color: rgb(21, 177, 16);
}
/* end button sequence */

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.hidden{
    display: none;
}

.title {
    font-family:monospace;
    color: rgb(46, 45, 56);
    font-size: x-large;
    margin:10px;
}
/*************  Topbar ******************/
#topbar{
    width: 105%;
    margin-left: -2.5%;
    margin-top: -10px;
    font-family:monospace;
    background-color: rgb(46, 45, 56);
    height: 5vh;
    display: flex;
    justify-content: center;
    color: white;
    font-size:large;
    font-weight: bolder;
    padding-top: 10px;
}

#version-number{
    color: white;
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: small;
}