<!--Blockly toolbox -->
<xml id="toolbox" style="display:none">
    <category name="Move" categorystyle="logic_category">
        <block type="3Voies"></block>
        <block type="actuator"></block>
    </category>
    <category name="Wait" categorystyle="text_category">
        <block type="waitS"></block>
        <block type="waitM"></block>
        <block type="waitH"></block>
        <block type="waitButton"></block>
    </category>
    <category name="Main" categorystyle="loop_category">
        <block type="for_simple"></block>
        <block type="for"></block>
        <!--<block type="atTheSameTime"></block>-->
        <block type="loopForever"></block>
        <!--<block type="sync"></block>-->
        <!--<block type="home"></block>--> <!--ambiguous : which direction (+ or -), which topic ? Not safe enougth-->
        <block type="homeOne"></block>
    </category>   
</xml>